# Base de datos
DB_USER=xxxxxxxxxxxxx
DB_HOST=xxxxxxxxxxxxxxxxxxxxx
DB_NAME=xxxxxxxxxxxxxxxxxxx
DB_PASSWORD=xxxxxxxxxxxxxxxx
DB_PORT=xxxxxxxxxxxxxx
DB_URL=XXXXXXXXXXXXXXXXXX // para el prisma, puedes usar la url completa de conexión a la base de datos, asegurándote de que el puerto, usuario, contraseña y nombre de la base de datos sean correctos. por que da un error fantasma con el ts
UPSTASH_REDIS_REST_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxx
UPSTASH_REDIS_REST_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx // su usa el url y el token con el metodo de rest 
# Auth
JWT_SECRET=xxxxxxxxxxxxxxxxxxxx................
JWT_REFRESH_SECRET=xxxxxxxxxxxxxxx................
# Cloud / APIs externas
CLOUDFLARE_API_KEY=cf_xxxxxxxxx
CLOUDFLARE_ACCOUNT_ID=xxxxxxxx
STRIPE_SECRET_KEY=sk_test_xxxxx
AWS_ACCESS_KEY=AKIA....
AWS_SECRET_KEY=xxxxxx
GOOGLE_CLIENT_ID=xxxxxx